In [1]:
from os import path
from time import sleep, time
import csv
from urllib.request import urlretrieve
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from geopy.geocoders import Nominatim
%matplotlib inline

In [2]:
# Read the csv file
print('Reading sample.tsv file...')
df = pd.read_csv(
    path.join('data', 'sample.tsv'),
    sep="\t",
    encoding='utf-8',
    escapechar='\\',
    na_values='N',
    quoting=csv.QUOTE_NONE,
    header=None
)
print('is done!')

Reading sample.tsv file...
is done!

In [3]:
print('Reading schema.txt file...')
schema = pd.read_csv(
    path.join('data', 'schema.txt'),
    sep="\s+",
    header =None
)
print('is done!')
# Rename the dataframe columns
df.columns = schema[1]

Reading schema.txt file...
is done!

In [4]:
# Drop rows with NaN values in important columns
df.dropna(
    subset=['createdAt','placeLatitude','placeLongitude','userId','id'],
    how='any',
    inplace=True
)

In [5]:
# Change the string in 'createdAt' column to datetime format
df['createdAt'] = pd.to_datetime(
    df['createdAt'],
    format='%Y-%m-%d %H:%M:%S',
    errors='coerce'
)

In order to recover the cities location from latitude-longitude pairs, we use two different strategies:
- **online strategy:** we use the geopy API to send a request containing information about the longitude and latitude of a place. The main cumbersome here is that all these kind of online APIs have some kind of request rate limit, and as it is suggested in [its website](http://wiki.openstreetmap.org/wiki/Nominatim_usage_policy), the time between two consecutive request should be more that 1 seconds. This actually makes the online approach so slow. One remedy to accelerate the process is to save longitude-latitude: location pair to a dictionary. Thus, before sending a request, we first check whether we have the location in our dictionary or not.
- **offline strategy:** we can also use the cities-name database from geoname database and download files for Switzerland and its neighbor countries. The original idea comes from [the following response](http://stackoverflow.com/questions/6159074/given-the-lat-long-coordinates-how-can-we-find-out-the-city-country/6355183#6355183) from stackoverflow website. Although this method is very fast, it is less accurate than the online approach.

In [6]:
# Function for finding a location from the latitude-longitude information using online API
geolocator = Nominatim()
locations = dict()
settlements = {'city', 'town', 'village', 'hamlet', 'isolated_dwelling'}
def online_locating(data):
    lat = str(round(data.placeLatitude,2))
    lng = str(round(data.placeLongitude,2))
    lookup = ','.join([lat, lng])
    if lookup not in set(locations.keys()):
        location = geolocator.reverse(lookup, language='en')
        state = location.raw['address']['state']
        sets_intersect = settlements.intersection(set(location.raw['address'].keys()))
        settlement = location.raw['address'][list(sets_intersect)[0]]
        locations[lookup] = {'state': state, 'settlement': settlement}
        sleep(1) # sleep for 1 sec (required by Nominatim usage policy)
    return pd.Series({'state': locations[lookup]['state'],
                      'settlement': locations[lookup]['settlement']})

In [ ]:
t = time()
df[['state', 'settlement']] = df.apply(lambda x: online_locating(x), axis=1)
elapsed = time() - t
print('Elapsed time is ' + str(round(elapsed, 4)) + ' seconds.')

For the offline method, we first need to download the cities database from the geoname database. The requried files are available in the `data` folder.

In [22]:
col_names = [
    'geonameid',
    'name',
    'asciiname',
    'alternatenames',
    'latitude',
    'longitude',
    'feature class',
    'feature code',
    'country code',
    'cc2',
    'admin1 code',
    'admin2 code',
    'admin3 code',
    'admin4 code',
    'population',
    'elevation',
    'dem',
    'timezone',
    'modification date',
]
CH_df = pd.read_csv(
    path.join('data/geonames', 'CH.txt'),
    header=None,
    encoding='utf8',
    delimiter='\t',
    dtype={9: str},
    names=col_names
)

C:\Users\shafieez\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,2598245,Sandgatterl,Sandgatterl,NaN,47.75,14.56667,T,PASS,AT,NaN,04,415,41522.0,NaN,0,NaN,1490,Europe/Vienna,2014-05-02
1,2598246,Viehtalalm,Viehtalalm,NaN,47.75,14.56667,L,GRAZ,AT,NaN,04,NaN,NaN,NaN,0,NaN,1490,Europe/Vienna,1999-04-30
2,2598247,Adlmoarstein,Adlmoarstein,NaN,47.75,14.55000,T,CLF,AT,NaN,04,NaN,NaN,NaN,0,NaN,1023,Europe/Vienna,1999-04-30
3,2598248,Waldbaueralm,Waldbaueralm,NaN,47.75,14.56667,L,GRAZ,AT,NaN,04,NaN,NaN,NaN,0,NaN,1490,Europe/Vienna,1999-04-30
4,2598249,Federeck,Federeck,NaN,47.75,14.56667,T,PK,AT,NaN,04,415,41522.0,NaN,0,NaN,1490,Europe/Vienna,2014-05-02

The geonames feature code explanation is available [here](http://www.geonames.org/export/codes.html). Long story short, the feature class column codes the type of the location we are looking for. The descriptions are as following:

| feature class | Description |
|----------|-------------|
| A | country, state, region,... |
| H | stream, lake, ... |
| L | parks,area, ... |
| P | city, village,... |
| R | road, railroad |
| S | spot, building, farm |
| T | mountain,hill,rock,... |
| U | undersea |
| V | forest,heath,... |

As this project aims to find the transportation flows, we only keep data with feature class H, L, P, R, S, T, and V. Moreover, in order to recover the area district, we drop all data with NaN value in admin1 and admin2 code. The description file for admin2 code is available [here](http://download.geonames.org/export/dump/admin2Codes.txt).

In [8]:
CH_df = CH_df['feature class'].str.contains('H|L|P|R|S|T|V')

In [19]:
neighbors_df = (
    pd.read_csv(
        path.join('data/geonames', fname + '.txt'),
        header=None,
        encoding='utf8',
        delimiter='\t',
        dtype={9: str},
        names=col_names,
        low_memory=False
    )
    for fname in ['DE', 'FR', 'IT', 'AT']
)
neighbors_df = pd.concat(neighbors_df, ignore_index=True)
neighbors_df = neighbors_df[neighbors_df['feature class'].str.contains('P')]

We can also reduce our search space size for neighbors countries by considering the states sharing border line with Switzerland.

In [20]:
imp_states = [
    'FR.84', 'FR.27', 'FR.44', # Auvergne-Rhône-Alpes, Bourgogne-Franche-Comte, and Grand Est 
    'DE.01', 'DE.02', # Bavaria and Baden-Wuerttemberg
    'AT.07', 'AT.08', # Tyrol and Vorarlberg
    'IT.19', 'IT.09', 'IT.12', 'IT.17' # Aosta Valley, Lombardy, Piedmont, and Trentino-Alto Adige
]
neighbors_df['country code'] + .head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
36,2803468,Zyfflich,Zyfflich,Zyfflich,51.82342,5.97297,P,PPL,DE,NaN,7,51,5154,5.15404e+06,0,NaN,14,Europe/Berlin,2016-03-10
37,2803469,Zwuschwitz,Zwuschwitz,NaN,51.11667,13.40000,P,PPL,DE,NaN,13,0,14627,1.46271e+07,0,NaN,201,Europe/Berlin,2015-09-05
38,2803470,Zwötzen,Zwoetzen,"Gera-Zwotzen,Gera-Zwötzen,Zwotzen,Zwötzen",50.84858,12.08635,P,PPL,DE,NaN,15,0,16052,1.6052e+07,0,NaN,199,Europe/Berlin,2015-09-05
40,2803472,Zwotental,Zwotental,NaN,50.36103,12.36468,P,PPL,DE,NaN,13,0,14523,1.45234e+07,0,NaN,675,Europe/Berlin,2015-09-05
42,2803474,Zwota,Zwota,Zwota,50.35103,12.42241,P,PPL,DE,NaN,13,0,14523,1.45232e+07,1541,NaN,596,Europe/Berlin,2015-09-05

http://www.statoids.com/ude.html

http://www.statoids.com/ufr.html

http://www.statoids.com/uit.html

http://www.statoids.com/uat.html